html{
    background: #999;
}
body {
    padding: 2em; 
}
.wrapper {
    font-weight: bold;
    text-align: center;
}
.wrapper > * {
    padding: 10px;
}
header {
    background: tomato;
}
footer {
    background: lightgreen;
}
section {
    text-align: left;
    background: deepskyblue;
    height: 400px;
}
.nav{
    background: gold;
}
.aside{
    background: hotpink;
}
/* Flexbox */
.wrapper {
     display: flex;  
    flex-flow: row wrap;  
}

aside    { flex: 1; }
header   { flex: 1 100%; order: 1}
section  { flex: 3 420px; order: 3;}

.aside { order: 4; }
footer   { flex: 1 100%; order: 5; }

nav    { flex: 1 100%; order:2; }